<div class="setting">
  <label for="deviceId">Device Id</label>
  <input type="text" name="deviceId" size="25" [(ngModel)]="deviceIdStr">
</div>

<div class="action">
  <button (click)="getCapability(deviceIdStr)">Get Capability</button>
  <button (click)="sendRPC(deviceIdStr, reqXmlData)">Send RPC</button>
</div>

<div width="50%">
  <textarea [(ngModel)]="reqXmlData" style="width:300px; height:300px;">
    Put XML here.
  </textarea>
</div>
Result:
<div width="50%">
  <textarea [value]="respResult" style="width:300px; height:300px;">
    Put XML here.
  </textarea>
</div>


<div >
  <pre>
    {{ respResult | xml }}
  </pre>
</div>

